<div id="right-view"  class="border">
    <div id="header"  class="border">
     <p> Profil nauczyciela </p>
      </div>
      <div class="container">
          <h4>Informacje podstawowe : </h4>
          <form>
            <div class="form-group">
             Login : <input [(ngModel)]="userDetail.login" type="text" class="form-control" name="login"  >
            </div>


            <div class="form-group">
             Imię : <input [(ngModel)]="userDetail.firstName" type="text" class="form-control" name="firstName">
            </div>

            <div class="form-group">
                Nazwisko : <input [(ngModel)]="userDetail.lastName" type="text" class="form-control" name="lastName" >
              </div>

              <div class="form-group">
                  Email : <input [(ngModel)]="userDetail.email" type="text" class="form-control" name="email" >
                </div>

                <div class="form-group">
                   Rola : <input [(ngModel)]="userDetail.rola" type="text" class="form-control" name="rola" >
                  </div>

                  <div class="form-group">
                    Premium : <input [(ngModel)]="userDetail.premium" type="text" class="form-control" name="premium" >
                    </div>




          </form>
      </div>
</div>
