

    <!-- Modal content -->
    <div class="modal-content">
        <span (click)="closeLoginWindow()"class="close">&times;</span>
      <form (ngSubmit)="onSubmit()">
      <p>Wprowadź dane logowania</p>

      <div class="form-group">
        <label for="usr">Login:</label>
        <input [(ngModel)]="loginAuthorization.login"  type="text" placeholder="Login" class="form-control" name="name">
      </div>

      <div class="form-group">
        <label for="pwd">Hasło:</label>
        <input [(ngModel)]="loginAuthorization.password" type="password"  placeholder="Hasło" class="form-control" name="name">
      </div>
      <button type="submit" class="btn btn-default btn-block">Zaloguj</button>

      <p id="blad-logowania" *ngIf="!ifUserExist" > Niepoprawna nazwa użytkownika lub hało </p>
    </form>

    </div>

