<div id="right-view"  class="border">
  <div id="header"  class="border">
       <p> Moje lekcje </p>
        </div>
        <div class="container">
            <button (click)="showAddLessonPanel()" id="add-lesson-button" type="button" class="btn btn-primary">Dodaj lekcję</button>
            <ng-container  *ngFor="let day of lessonDays;let i = index">
          <p style="font-size:25px;">{{day.name}}</p>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Dzień</th>
                  <th scope="col">Godzina</th>
                  <th scope="col">Adres</th>
                  <th scope="col">Stan</th>
                  <th scope="col">Edycja</th>
                  <th scope="col">Szczegóły</th>
                </tr>
              </thead>
              <tbody>
                  <ng-container  *ngFor="let lesson of lessonDates">
                      <ng-container  *ngIf="lesson.day.id == i+1">
                  <tr>
                    <td>{{lesson.day.name}}</td>
                    <td>{{lesson.hourFrom}} - {{lesson.hourTo}}</td>
                    <td>{{lesson.address}}</td>
                    <td *ngIf="lesson.isFree == 'T'">Wolny</td>
                    <td *ngIf="lesson.isFree == 'N'">Zarezerwowany</td>
                    <td><button type="button" class="btn btn-primary">Edytuj</button></td>
                    <td><button type="button" class="btn btn-primary">Szczegóły</button></td>
                  </tr>
                  </ng-container>
                  </ng-container>
                </tbody>
            </table>
            </ng-container>

  </div>
</div>
<div *ngIf="isShowAddLesson" class="modal-content">
    <span (click)="closeLoginWindow()"class="close">&times;</span>
    <form (ngSubmit)="onSubmit()">
    <p style="font-size: 30px;">Dodaj lekcję</p>
    Godzina Od :
    <input [(ngModel)]="templateLesson.hourFrom" type="text" class="form-control" name="hourFrom">
    Godzina Do :
    <input [(ngModel)]="templateLesson.hourTo" type="text" class="form-control" name="hourTo">
    Dzień :
    <select (change)="selectRole($event)" class="form-control form-control-sm">
        <option value="1">Poniedziałek</option>
        <option value="2">Wtorek</option>
        <option value="3">Środa</option>
        <option value="4">Czwartek</option>
        <option value="5">Piątek</option>
        <option value="6">Sobota</option>
        <option value="7">Niedziela</option>
      </select>
  <button type="submit" class="btn btn-default accept-button" >
    Zatwierdz </button>
    </form>
    <p *ngIf="isShowAlertSuccess" class="alert alert-success" > Utworzono lekcję ! <p>
  </div>

  <div *ngIf="isShowUpdateLesson" class="modal-content">
    <span (click)="closeLoginWindow()"class="close">&times;</span>
    <form (ngSubmit)="onSubmitUpdate()">
    <p style="font-size: 30px;">Edytuj lekcję</p>
    Godzina Od :
    <input [(ngModel)]="templateLesson.hourFrom" type="text" class="form-control" name="hourFrom" value="siema">
    Godzina Do :
    <input [(ngModel)]="templateLesson.hourTo" type="text" class="form-control" name="hourTo">
    Dzień :
    <select (change)="selectRole($event)" class="form-control form-control-sm">
        <option value="1">Poniedziałek</option>
        <option value="2">Wtorek</option>
        <option value="3">Środa</option>
        <option value="4">Czwartek</option>
        <option value="5">Piątek</option>
        <option value="6">Sobota</option>
        <option value="7">Niedziela</option>
      </select>
  <button type="submit" class="btn btn-default accept-button" >
    Zatwierdz </button>
    </form>
    <p *ngIf="isShowAlertSuccessForUpdate" class="alert alert-success" > Zedytowano lekcję ! <p>
  </div>




