<nav class="list-group border">
  <div id="login">
      <span class="circle"><p id="student-or-teacher">N</p></span>

  </div>
  <a [routerLink]="['right-view-detail']" class="list-group-item list-group-item-action">Profil</a>
  <a [routerLink]="['right-view-courses']" class="list-group-item list-group-item-action">Moje Kursy</a>
  <a [routerLink]="['right-view-lesson']" class="list-group-item list-group-item-action">Moje Lekcje</a>
  <a [routerLink]="['right-view-add-courses']" class="list-group-item list-group-item-action">Dodaj Kurs</a>
  <a [routerLink]="['right-view-add-lesson']" class="list-group-item list-group-item-action">Dodaj Lekcje</a>
  <a [routerLink]="['report-student']" class="list-group-item list-group-item-action">Zgłoś ucznia</a>
</nav>
<router-outlet></router-outlet>
