<div id="right-view"  class="border">
  <div id="header"  class="border">
   <p> Ilosc zgłoszeń </p>
    </div>
    <div class="container">
        <form action="" class="navbar-form">
            <div class="input-group">
                <input type="Search" placeholder="Znajdz użytkownika..." class="form-control" #courseName />
                <div class="input-group-btn">
                    <button (click)="findUserByUserName(courseName.value)" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
          </form>

      <div *ngFor="let user of users" class="teacher-lesson border"  >
        <p *ngIf="user.role.id == 1"id="student-or-teacher">U</p>
        <p *ngIf="user.role.id == 2 "id="student-or-teacher">N</p>
        <p *ngIf="user.role.id == 3 "id="student-or-teacher">A</p>
                {{user.firstName}} {{user.lastName}}
                <br>
                <br>
                <a class="href-style" (click)="setUserDetail(user)" > Ilość zgłoszeń : {{user.userReports.length}} </a>

    </div>
    </div>
</div>
<div *ngIf="isShowDeleteUser" class="modal-content">
  <span (click)="closeLoginWindow()"class="close">&times;</span>

  Zgłoszenia użytkownika {{firstAndLastName}} :
 <br>
 <div class="comment" *ngFor="let reports of reportsUser">
  <b> {{reports.reportingUser.firstName}}</b><br>
      <i class="commentUser"> - {{reports.description}}</i>
</div>
</div>
