<div id="user-panel-menu" (click)="showMenuUser()" >
   <b><p id="nick">{{userNameCookie}}</p></b>
   <span class="circle"><p id="student-or-teacher">{{whichUserIsActuallyLogged}}</p></span>
  </div>

    <!-- Modal content -->
    <div *ngIf="isShowUserMenu" class="modal-widow-login" (mouseleave)="hideMenuUser()">

      <div class="btn-group-vertical">
          <button *ngIf="whichUserIsActuallyLogged == 'U'" class="bb btn btn-default btn-block" [routerLink]="['student-detail']">Panel ucznia</button>
        <button *ngIf="whichUserIsActuallyLogged == 'N'" class="bb btn btn-default btn-block" [routerLink]="['teacher-detail']">Panel nauczyciela</button>
        <button *ngIf="whichUserIsActuallyLogged == 'A'" class="bb btn btn-default btn-block" [routerLink]="['admin-container']">Panel admina</button>
        <button  (click)="logoutUser()" class="bb btn btn-default btn-block" [routerLink]="['home']">Wyloguj</button>
      </div>

  </div>




