@import '~bootstrap/dist/css/bootstrap.min.css';
p
{
  font-size: 35px;

}
.circle{
  position: relative;
  height: 50px;
  width: 50px;
  background-color:black;
  border-radius: 50%;
  top:-5px;
  left:30px;
  text-align: center;
vertical-align: middle;
}
.circle:hover
{
  cursor: pointer;
  background-color:#330000;
}
#nick{
font-size: 22px;
}

#student-or-teacher
{
font-size:35px;
  color:white;


}
.modal-widow-login {
  z-index: 1;
  opacity: 0.95;
position: relative;
  margin-right: 0;
  margin-left: auto;
  width: 200px; /* Full width */
  height: 123px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
.btn-group-vertical
{
  width: 100%;
}
.btn-block {
  padding: 10% 0;
  /* define values in pixels / Percentage or em. whatever suits
     your requirements */
}
button{
  font-size:50px;
}
#user-panel-menu
{
  width: 30%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
}
