@import '~bootstrap/dist/css/bootstrap.min.css';
.modal-content {
  position:absolute;
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 500px; /* Could be more or less, depending on screen size */
  height: 400px;
  z-index: 1;
  opacity: 0.95;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
